<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">상품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="#{h2.items.saved}"></h2>

    <div>
        <label for="id" th:text="#{label.item.id}">상품 ID</label>
        <input type="text" th:field="${item.id}" class="form-control" readonly />
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
        <input type="text" th:field="${item.itemName}" class="form-control"  readonly />
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}">가격</label>
        <input type="text" th:field="${item.price}" class="form-control" readonly />
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}">수량</label>
        <input type="text" th:field="${item.quantity}" class="form-control" readonly />
    </div>

    <hr class="my-4">

    <!-- single checkbox -->
    <div th:text="#{div.item.isOpen}">판매 여부</div>
    <div>
        <div class="form-check">
            <!-- disabled 넣으면 체크 불가능하게 비활성화 시킴 (readonly 와 같은 개념) -->
            <!-- th:field 를 넣으면 boolean 값이 참이면 속성 checked="checked"를 넣어주고 거짓이면 안넣어주는 걸 자동으로 해줌 (원랜 개발자가 처리해야함) -->
            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled />
            <label for="open" class="form-check-label" th:text="#{label.item.open}">판매 오픈</label>
        </div>
    </div>

    <!-- multi checkbox -->
    <div>
        <div th:text="#{div.item.regions}">등록 지역</div>
        <!--/* 원래는 value 가 각각 SEOUL, BUSAN, JEJU 일 때 그 값이 item.regions 안에 있으면 checked="checked" 속성을 넣어주고
         없으면 안넣는 로직을 개발자가 직접 해줘야 하는데, 타임리프의 th:field 속성이 알아서 해준다 */-->
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled />
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>
    </div>

    <!-- radio button -->
    <div>
        <div th:text="#{div.item.itemTypes}">상품 종류</div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}" class="form-check-input" disabled />
            <label th:for="${#ids.prev('itemType')}"
                   th:text="${type.description}" class="form-check-label">BOOK</label>
        </div>
    </div>

    <!-- SELECT -->
    <div>
        <div th:text="#{div.item.deliveryCodes}">배송 방식</div>
        <!-- 여기서의 th:field 기능=> option 에서의 value 와 th:field 에 있는 객체와 비교해서 같은 값이면 (여기서는 객체.code 로 비교)
         타임리프가 그 option 에 selected="selected" 속성을 넣어준다. (체크박스의 checked="checked" 와 같은 방식) -->
        <select th:field="${item.deliveryCode}" class="form-select" disabled >
            <option value="" th:text="#{select.option.choose_delivery}">==배송 방식 선택==</option>
            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                    th:text="${deliveryCode.displayName}">FAST</option>
        </select>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/validation/v2/items/{itemId}/edit(itemId=${item.id})}'|"
                    onclick="location.href='editForm.html'" type="button" th:text="#{page.updateItem}">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/validation/v2/items}'|"
                    onclick="location.href='items.html'" type="button" th:text="#{page.items}">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
